---
import { Icon } from 'astro-icon/components';
---

<div class="mx-auto px-6 sm:px-6 max-w-3xl pt-8 md:pt-4 pb-4 md:pb-6">
  <a href="/articles" class="inline-flex items-center gap-1 text-sm text-zinc-500 hover:text-zinc-900 transition-colors">
    <Icon name="tabler:chevron-left" class="w-4 h-4" />
    Back to Articles
  </a>
</div>
